.adotepets img{
    width: 550px;
    height: 300px;
}

.adotepets{
    width: 550px;
    height: 300px;

    outline: 5px solid black;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);

    margin: 50px;
    position: relative;
    left: 0;
}
.adotepets > ul {
    display: flex;
    list-style: none;
    width: 1500px;
    height: 300px;
}
.adotepets li {
    position: relative;
    animation: slide 15s infinite ease-out;
}

@keyframes slide {
    0%{left: 0px}
    25%{left: -570px}
    50%{left: -1100px}
    100%{left: 0px;}
}
#title-faq{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 5px;
}
.porque-faq{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 3rem;
}
.faq-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.faq-mini{
    box-shadow: (0 0 2px 0,5);
    border-radius: 5px;
    background-color: #ffff;
    border: 2px solid #cccc;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.faq-h2{
    border-radius: 4px;
    padding: 20px;
    display: flex;
    text-align: left;
    transition: .15s ease-out;
    justify-content: space-between;
    align-items: center;
}

.faq-p{
    background-color: #cccc;
    margin: 3px;
}