.titulo{
    display: flex;
    justify-content: center;
    
}

.cadastropet{
    background-color: #F0E5C9;
    width: 33%;
    margin: 5%;
    border: 5px solid;
    border-color: #A68C69;
    border-radius: 5%;
    padding-top: 15px;
    
}


.linha{
    height: 10px;
    background-color: #F4F4F4;
}

.formulario{
    background-color: #E3E3E3;
}

.btFeito{
    padding:16px 30px;
    background-color: #EB7B59;
    border:1px solid;
    color: white;
    font-size: 25px;
    cursor:pointer;
    font-family:Verdana;
    border-radius: 8%;
    margin-left: 15%;
    
}

.btFotos{
    padding:16px 30px;
    background-color: #EB7B59;
    border:1px solid;
    color: white;
    font-size: 25px;
    cursor:pointer;
    font-family:Verdana;
    border-radius: 8%;
    margin-left: 15%;
    
}

.imagem{
    width: 15%;
    display: flex;
    align-items: flex-end;
}

.div{
    display: inline-block;
}