*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7861be   ;
    height: 18vh;

}

header img{
    height: 12vh;
    margin-right: 50px;
}

header nav {
    flex-grow: 0.6;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #ffff;
    gap: 20px;
    cursor: pointer;
}

header nav ul li {
    padding: 6px;

}

div.row{
    box-sizing: border-box ;
    border-radius: 25px;
    background-color: #e2e2f7;
    border:1px solid #522180 ;
    position: absolute;
    top:30%;
    bottom: 10%;
    left: 35%;
    width: 30%;
    height:75%;
    display: table;
    box-shadow: 2px 2px 2px #380b61;
}



form{

    
    width: 100%;
    padding: 5px 0px;
    position: absolute;
    top: 10%; 
}


label{
    position: relative;
    left: 15px;
    color: #380b61;
}


#titulo{
    color: #380b61;
    text-align: center;
    font-size: 25px ;
    position: relative;
    top: 15px;
}
    
input[type="radio"]{
    cursor: pointer;
}

input[type="date"], select{
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select{
    
    width: 95%;
    padding: 8px ;
    border-radius: 5px;
    box-sizing: border-box ;
    position: relative;
    left: 15px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #380b61;
    font-size: 1.0em;
}


button{
  
  border: none;
  border-radius: 10px;
  background-color: #9b75d8;
  color: #f4f4f4;
  box-sizing: border-box ;
  position:relative;
  top: 85%;
  left: 10px;
  width: 150px;
  height: 35px;
  margin: 0% 10%;   
  transition-property:all;
  font-size: 0.9em;
  
}

button:hover{
    background-color:#8754d9;
    transition-duration: 0.5s;
    cursor: pointer;
    
}


footer {
    box-sizing: border-box ;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    top: 800px;

    

}

.centralizar{
    display: flex;
    align-items: center;
}

.alinhar{
    padding: 0;
    color: #000;
}
.alinhar:hover{
    color: #59429d
}

footer .logoFooter{
    width: 150px;
    display: flex;
    align-items: center;
}
.redeSocial{
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    right: 25px;
    cursor: pointer;
}
.redeSocial img{
    width: 100px;
}

footer p {
    max-width: 255px;
    color: #ffffff;
    margin: 0;
    font-size: 16px;
}

footer ul {
    list-style: none;
    color: #59429d;
    font-size: 20px;
}

footer ul li.FAQ {
    font-weight: bold;
    font-size: 20px;
    align-items: flex-start;

}
