.folderAnimal{
    background-color: rgb(0, 255, 255);
    width: 50vw;
    height: 60vh;

    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh;

    color: #FFF;
}

.fotoPet{
    display: flex;
    background-color: rgb(0, 0, 255);
    width: 650px;
    height: 290px;
    margin: 15px;
}

.dadosPet{
    display: flex;
    background-color: rgb(99, 182, 250);
    width: 270px;
    height: 290px;
    margin: 15px;
}

.descricaoPet{
    display: flex;
    background-color: rgb(32, 224, 134);
    width: 950px;
    height: 220px;
    margin: 15px;
}