* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

div.cadastro {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #e2e2f7;
    border: 1px solid #522180;
    height: 85%;
    box-shadow: 2px 2px 2px #380b61;
    max-width: 500px;
    margin: 10px auto;
}

.cadastro form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0px;
    align-items: center;
}

label {
    width: fit-content;
    color: #380b61;
}

.gender > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gender div input {
    display: flex;
    width: auto;
    margin: 0;
}

.gender > div input:first-of-type {
    margin-right: 25px;
}

#titulo {
    color: #380b61;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

input[type="radio"],
input[type="file"],
input[type="date"],
select {
    cursor: pointer;
}

label[for="fotoPerfil"] {
    cursor: pointer;
    color: #f4f4f4;
    background-color: #9b75d8;
    border-radius: 10px;
    width: 155px;
    height: 35px;
    border: none;
    font-size: 1em;
    text-align: center;
    padding: 5px;
}

.input-group {
    width: 90%;
    display: flex;
    flex-direction: column;
}

label[for="fotoPerfil"]:hover {
    background-color: #8754d9;
    transition-duration: 0.5s;
    cursor: pointer;
}

input[type="file"] {
    transition-property: all;
    display: none;
}

.cadastro input,
select {
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #59429d;
    color: #380b61;
    font-size: 1em;
}

#cadastrar {
    border: none;
    border-radius: 10px;
    background-color: #9b75d8;
    color: #f4f4f4;
    box-sizing: border-box;

    width: 150px;
    height: 35px;
    transition-property: all;
    font-size: 1em;
}

.form-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#cadastrar:hover {
    background-color: #8754d9;
    transition-duration: 0.5s;
    cursor: pointer;
}

.cadastro input {
    margin-bottom: 20px;
    outline: none;
}

select {
    margin-bottom: 20px;
    outline: none;
}


.errosUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    width: 500px;
}

#listaErrosUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgba(255, 0, 0, 0.87);
    list-style: none;
    background-color: rgba(255, 0, 0, 0.219);
    font-size: 16px;
    
    width: 350px;
    height: 35px;
    
    margin-bottom: 10px;
    border-radius: 10px;
}