#titulo{
    color: #380b61;
    text-align: center;
    font-size: 25px ;
    position: relative;
    top: 15px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    
}

.cadastropet{
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #e2e2f7;
    border: 1px solid #522180;
    width: 30%;
    height: 85%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px #380b61;
    max-width: 350px;
    margin: 10px auto;
    
}

.cadastropet form{
    
    width: 100%;
    padding: 5px 0px;
}

label{
    position: relative;
    left: 15px;
    color: #380b61;
}

.cadastropet input{
    margin-bottom: 20px;
}

select{
    margin-bottom: 20px;    
}

label[for="fotos"] {
    cursor: pointer;
    color: #f4f4f4;
    background-color: #9b75d8;
    border-radius: 10px;
    width: 155px;
    height: 35px;
    padding: 1% 1%;
    display: block;
    border: none;
    font-size: 1em;
    position: relative;
    left: 12%;
    bottom: 75%;
    text-align: center;
}

label[for="fotos"]:hover {
    background-color: #8754d9;
    transition-duration: 0.5s;
    cursor: pointer;
}

#fotos{
    transition-property: all;
    display: none;
}


.cadastropet input, select{
    width: 95%;
    padding: 8px ;
    border-radius: 5px;
    box-sizing: border-box ;
    position: relative;
    left: 15px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #380b61;
    font-size: 1.0em;
    outline: none;
}

input[type="radio"],select{
    cursor: pointer;
}

#cadastrarPet{
    border: none;
    border-radius: 10px;
    background-color: #9b75d8;
    color: #f4f4f4;
    box-sizing: border-box ;
    position:relative;
    left: 50%;
    bottom: 15px;
    width: 150px;
    height: 35px;
    margin: 0% 10%;   
    transition-property:all;
    font-size: 1em;
  }

#cadastrarPet:hover{
    background-color:#8754d9;
    transition-duration: 0.5s;
    cursor: pointer;
}

textarea{
    position: relative;
    left: 10%;
    color: #380b61;
    margin-top: 20px;
}
 input[type="radio"]{
     position: relative;
     left: 14px;
 }

 label[for="fotos"]{
    cursor: pointer;
    color: #f4f4f4;
    background-color: #9b75d8;
    border-radius: 10px; 
    width: 155px; 
    height: 35px;
    padding: 1% 1%;
    display: block;
    border: none;
    font-size: 1em;
    position:relative;
    left: 12%;
    top: 19px;
    text-align: center;
 }

 label[for="fotoAnimais"]:hover{
    background-color:#8754d9;
    transition-duration: 0.5s;
    cursor: pointer;
 }

 input[type="file"]{
    transition-property:all;
    display: none;
}