* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-feed {
  text-align: center;
  background-color: #7861be;
  margin-top: 5vw;
  padding: 10px;
}
.anuncios-feed > div {
  display: flex;
  flex-direction: column;

  background-color: #c6b7f3;
  width: 200px;
  height: 600px;
  margin: 60px 25px;
  border-radius: 10px;

  padding: 10px;
}
img {
  max-width: 100%;
  display: block;
}

.feed-principal img {
  border-radius: 15px 15px 0 0;
  border-bottom: solid 2px #000;
}
.feed-principal {
  display: flex;
  flex-wrap: wrap;

  max-width: 1000px;
  margin: 0 auto;

  position: relative;
  bottom: 730px;
}
.feed-principal > ul {
  display: flex;
  flex-wrap: wrap;

  margin: 60px 25px;
  padding: 0;
}

.feed-submit-button {
  margin-left: auto;
}
.list-feed {
  gap: 15px;
}
.list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px !important;
  max-height: 400px !important;
}
.feed-submit-button {
  margin-top: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  width: 100%;
  height: 65px;
  color: white;
  background: #59429d !important;
}

.feed-submit-button:hover {
  background: #59429d63 !important;
}
