* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.buttonsDiv {
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.imagesDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
