@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*main*/

/*tema*/

#tema {
  position: relative;
  text-align: center;
  margin: 2vw;
  border-radius: 10px;
  z-index: -2;
  padding: 7vh;

  font-size: 41px;

  background-color: gray;
}

/*perfil e opções*/
#card {
  width: 40.813rem;
  height: 24.938rem;
  background: #c4c4c4;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
#card h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 36px;
  line-height: 13px;
  text-align: left;
  margin: auto;
  list-style-type: none;
}

#content {
  display: flex;
  justify-content: space-around;
}

.perfil {
  position: relative;
  bottom: 120px;
  right: 7px;

  height: 40rem;
  width: 20rem;
}
.perfil img {
  border: solid 5px #a68c69;
  border-radius: 50%;
  margin-bottom: 3rem;
  width: 100%;
}

.perfil ul {
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.perfil-img {
  display: flex;
  max-height: 15em;
  border-radius: 8px;
}

.perfil ul li {
  line-height: 40px;
  border-top: solid 2px black;
  list-style-type: none;
}
.infoPerfil {
  display: flex;
  gap: 5rem;
  width: 653px;
  height: 300px;
}
.infoPerfil-pet {
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
aside {
  margin-left: 1rem;
}
.photo-content{
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  align-content: space-between;
  justify-content: space-between;
}
.photo-card {
  width: 100%;
  background: #f1eeee;
  border-radius: 8px;
  margin: auto;
}
#customProfile ul li {
  line-height: 40px;
  border-top: solid 2px black;
  list-style-type: none;
}


@media only screen and (max-width: 850px) {
  .content{
    width: auto;
  }
  .perfil{
    width: 100%;
  }
}