<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="/css/adocao.css" />
    <title>Doando</title>
</head>
<body>
    <%- include('./partials/header') %>

    <div class="folderAnimal">
        <div class="fotoPet"> # FOTO DO PERFIL # <br> # CARROSSEL DE FOTOS PET # </div>
        <div class="dadosPet"> # DADOS DO PET # </div>
        <div class="descricaoPet"> # DESCRIÇÃO DO PET # </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>