<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/feed.css" />

    <title>Adoção Legal</title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <div class="head-feed">
      <h1>HORA DE ADOTAR!</h1>
    </div>

    <section class="anuncios-feed">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          magni, quaerat, esse mollitia magnam accusantium iste dolorum velit
          incidunt amet corrupti minima repudiandae. Eum nemo harum officia
          fugit, delectus animi?
        </p>
      </div>
    </section>
    <section class="feed-principal">
      <ul>
        <li>
          <img src="img/cão-filhote (1).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/cão-filhote (2).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/cão-filhote (3).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/cão-filhote (2).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/cão-filhote (1).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/gato (1).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/gato (2).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/gato (1).jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
        <li>
          <img src="img/gato-idoso.jpg" alt="" />
          <p>nome:<br>raça:<br>porte:</p>
        </li>
      </ul>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
