<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Adoção Legal</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />

  </head>
  <body>
    <%- include('./partials/header') %>
    <section class="adotepets">
      <ul>
        <li><img src="img/cão-filhote (1).jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-filhote (2).jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-filhote (3).jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-idoso 1.jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-idoso 2.jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-idoso.jpg" alt="pet-filhote" /></li>
      </ul>
    </section>
    <h2 id="title-faq">Por que adotar?</h2>
    <p class="porque-faq">Entenda os motivos para adotar um pet!</p>
    <section class="faq-container">
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Adotar é uma forma de trazer um novo conceito para a sua vida</summary>
          <p>Gratidão: é um dos principais valores, entre outros ensinamentos, que a adoção de um pet traz para a vida do tutor. A partir de uma adoção as pessoas podem entender melhor o que significa ser grato, pois é exatamente este sentimento que o cão consegue transmitir.</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Ter um pet em casa = felicidade para o lar</summary><p>Do mesmo modo em que você pratica o bem para o pet, ele também se esforça para proporcionar momentos de alegria para sua vida. Na verdade, o sentimento de felicidade estará
            presente para a família toda.</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Você estará resgatando uma vida</summary><p>Como os pets de rua estão vulneráveis a diversos tipos de maus-tratos e riscos de vida, ao adotar, você estará garantindo que ele tenha uma oportunidade de sobreviver e de desfrutar de uma vida feliz e saudável com alguém que o ama.</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Não terá surpresas, caso opte pela adoção de um pet adulto</summary><p>Apesar de muitas pessoas terem receio de adotar um pet adulto por acreditarem que terão dificuldades da adaptação em seu novo lar, pensar dessa forma é um erro.
            Uma vez que os animais acolhidos nessa fase são mais gratos por serem adotados adultos. Também não haverá surpresas, como crescer mais que o esperado, chorar durante a noite ou apresentar um comportamento diferente de quando era filhote. Além disso, a maioria já vem castrada.</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Ter um pet em casa faz bem para a saúde</summary><p>Vários estudos já mostraram o bem que um pet faz à saúde das pessoas. Além disso, ter um animalzinho em casa resulta em passeios que estimulam os exercícios, melhoram a pressão sanguínea e evita que o dono apresente indícios de depressão, ansiedade ou estresse.</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Diminui o número de animais abandonados nas ruas e em abrigos</summary><p>Todos os pets merecem uma vida digna, regada com muito amor e proteção. Por esse motivo, ao concretizar uma adoção responsável você está proporcionado uma vida de mais qualidade para o pet.

            Além disso, ao adotar o animal de um abrigo você estará, automaticamente, salvando mais de uma vida, pois o espaço do seu novo melhor amigo será disponibilizado a outro animal de rua que será resgatado.</p>
        </details>
      </div>
    </section>

    <%- include('./partials/footer') %>
  </body>
</html>
