<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Adoção Legal</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />

  </head>
  <body>
    <%- include('./partials/header') %>
    <section class="adotepets">
      <ul>
        <li><img src="img/cão-filhote (1).jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-filhote (2).jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-filhote (3).jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-idoso 1.jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-idoso 2.jpg" alt="pet-filhote" /></li>
        <li><img src="img/cão-idoso.jpg" alt="pet-filhote" /></li>
      </ul>
    </section>
    <h2 id="title-faq">Por que adotar?</h2>
    <p class="porque-faq">Entenda os motivos para adotar um pet!</p>
    <section class="faq-container">
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Adotar é uma forma de trazer um novo conceito para a sua vida</summary>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad temporibus eaque adipisci deleniti mollitia, magni quae. Consequuntur esse asperiores ex minima ipsa, provident in dolores ut, illum alias optio quis.</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Ter um pet em casa = felicidade para o lar</summary><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi et quam rerum amet beatae possimus sed sint non quod libero itaque dolorem sequi, numquam pariatur ipsa suscipit, praesentium harum eos?</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Você estará resgatando uma vida</summary><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, tempore modi. Expedita, laudantium explicabo voluptates consequatur iusto, deleniti veniam sapiente, ea autem aliquam fuga rerum commodi impedit dignissimos repellendus quos.</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Não terá surpresas, caso opte pela adoção de um pet adulto</summary><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta asperiores nostrum corrupti ratione facere, sed distinctio, natus nisi illum odit alias illo ducimus praesentium, totam dolores dolorum dolorem explicabo aperiam?</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Ter um pet em casa faz bem para a saúde</summary><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis totam nemo illum, incidunt nostrum nam possimus laudantium voluptates. Repudiandae minus consequuntur iure explicabo vitae accusamus, labore voluptatem dignissimos corrupti placeat!</p>
        </details>
      </div>
      <div class="faq-mini">
        <details class="faq-h2">
          <summary>Diminui o número de animais abandonados nas ruas e em abrigos</summary><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illum quibusdam voluptate nesciunt dolorem, expedita fuga blanditiis porro quisquam veniam omnis voluptatum tempore ipsam, soluta impedit nulla iusto cum commodi.</p>
        </details>
      </div>
    </section>

    <%- include('./partials/footer') %>
  </body>
</html>
