<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/login.css">
    <title>Adoção Legal</title>
</head>
<body>
    <div id="login-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite o seu Email!">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Digite a sua senha!">

            <a href="#" id="esqueciSenha">Esqueceu a senha?</a>
            <button type="submit" value="Login">Logar</button>
        </form>
        <div id="rede-container">
            <p>Entre pelas suas redes sociais</p>
            <img id="redes-login" src="img/facebook-logo-493 (1).png" alt="logo-facebook">
            <img id="redes-login" src="img/google-logo-9824 (1).png" alt="logo-google">
        </div>
        <div id="registro-container">
            <p>Ainda não tem uma conta?</p>
            <a href="/cadastro/usuario">Registrar</a>
        </div>
    </div>
</body>
</html>