<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet" href="../css/perfilPage.css"/>
      <link rel="stylesheet" href="../css/style.css"/>


      <title>Adoção</title>
    </head>

    <body>
      <%- include('./partials/header') %>
      <main id="conteudo">
        <section id="Tema">Tema</section>
        <!--imagem do pefil e opções(coluna esquerda)-->
        <section id="content">
          <section class="perfil">
            <img src="../img/user-profile.jpg" alt="perfil-pet" />
            <ul>
              <li>opçõesDoPerfil1</li>
              <li>opçõesDoPerfil2</li>
              <li>opçõesDoPerfil3</li>
              <li>opçõesDoPerfil4</li>
              <li>opçõesDoPerfil5</li>
              <li>opçõesDoPerfil6</li>
            </ul>
          </section>

          <div id="card">
            <h2>Nome do usuario</h2>
            <div class="infoPerfil">
              <aside>
                <img
                  class="perfil-img"
                  src="../img/pet.jpeg "
                  alt="perfil-pet"
                />
                <ul class="infoPerfil-pet">
                  <li>Nome</li>
                  <li>Numero</li>
                  <li>email</li>
                </ul>
              </aside>
              <div class="photo-card"></div>
            </div>
           
          </div>

          <section id="customProfile">
            <ul>
                <li>opçõesDoPerfil1</li>
                <li>opçõesDoPerfil2</li>
                <li>opçõesDoPerfil3</li>
                <li>opçõesDoPerfil4</li>
                <li>opçõesDoPerfil5</li>
                <li>opçõesDoPerfil6</li>
              </ul>
          </section>
        </section>
      </main>

      <%- include('./partials/footer') %>
    </body></html
></DOCTYPE>
