<footer>
    <div class="centralizar">
      <img class="logoFooter" src="/img/adoteFooter.png" alt="Logo" />
    </div>
    <div >
      <ul class="alinhar">
        <li class="FAQ">Sobre Nós</li>
        <li>Perguntas Frequentes</li>
        <li>Politica de Privacidade</li>
        <li>Contatos</li>
      </ul>

      <ul class="redeSocial">
        <li><img src="/img/face.png" alt="facebookLogo" /></li>
        <li><img src="/img/insta.png" alt="instagramLogo" /></li>
        <li><img src="/img/whats.png" alt="whatsAppLogo" /></li>
      </ul>
    </div>
  </footer>