<footer>
    <div class="centralizar">
      <img class="logoFooter" src="./img/adoteFooter.png" alt="Logo" />
    </div>
    <div>
      <ul class="alinhar">
        <li class="FAQ">Sobre Nós</li>
        <li>Perguntas Frequentes</li>
        <li>Politica de Privacidade</li>
        <li>Contatos</li>
      </ul>

      <ul class="redeSocial">
        <li><img src="./img/Facebook-1.png" alt="facebookLogo" /></li>
        <li><img src="./img/Instagram.png" alt="instagramLogo" /></li>
        <li><img src="./img/WhatsApp_1.png" alt="whatsAppLogo" /></li>
      </ul>
    </div>
  </footer>