<header>
    <img src="../img/Adote.png" alt="" />
    <nav>
      <ul class="lista-nav">
        <form action="/feed" method="get">
          <input type="text" name="pesquise" placeholder="Procure aqui se novo amigo(a)!!" >
          <button type="submit"></button>
        </form>
        <li><a href="/">Home</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/cadastro/usuario">Cadastro</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>