<header>
    <img src="img/Adote.png" alt="" />
    <nav>
      <ul class="lista-nav">
        <li>Home</li>
        <li>Quem Somos</li>
        <li>Adote seu Pet</li>
        <li>Ajude Nossa Causa</li>
        <li>Fale Conosco</li>
      </ul>
    </nav>
  </header>