<header>
  <img src="../img/Adote.png" alt="" />
  <nav>
    <ul class="lista-nav">
      <div id="barra-pesquisa">
        <form action="/feed" method="get">
          <input id="barra" type="text" name="pesquise" placeholder="Procure aqui seu novo amigo(a)!!">
          <button id="pesquisar" type="submit"><img id="lupa" src="../img/loupe.png" alt=""></button>
        </form>
      </div>
      <li><a href="/">Home</a></li>
      <li><a href="/perfil">Perfil</a></li>
      <li><a href="/cadastro/usuario">Cadastro</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>