body{

}


div.row{
    border-radius: 25px;
    background-color:#F0E5C9;
    border:10px solid #A68C69 ;
    position: fixed;
    top: 100px;
    left: 155px;
    /*position: absolute;
    left: 155px;
    top: 100px;*/
    width: 30%;
    height:80%;
    display: table;
    
}



form{

    background-color:#f4f4f4;
    width: 100%;
    padding: 5px 0px;
    
    
}

label{
    position: relative;
    left: 15px;
}

#titulo{
    
    color: black;
    text-align: center;
    font-size: 25px ;
    position: relative;
    bottom: 5px;
}


input,select{
    width: 95%;
    padding: 8px ;
    border-radius: 5px;
    box-sizing: border-box ;
    position: relative;
    left: 15px;
        
}

button{
  
  border: none;
  border-radius: 10px;
  background-color: #EB7B59;
  color: #f4f4f4;
  height: 40px;
  position: relative;
  left: 35%;
  top: 25px;

}